.vocabulary-link {
  color: #ddd;
  text-decoration: none;
}

.vocabulary-link:hover, .vocabulary-link:hover > .vocabulary-explanation {
  color: rgb(156, 162, 194);
  transition: 200ms;
}

.vocabulary-text {
  font-size: 100%;
}

.vocabulary-explanation {
  /* font-size: 80%; */
  color: #bbb;
}